<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<div class="row">
  <div class="col-md-4">
<%= form_for(:session, url: sessions_path, role: 'form') do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
	<div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
	
	<div class="actions">
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
	</div>
    <% end %>
</div>
</div>