<p id="notice"><%= notice %></p>

<div class="hero-unit">
      <h1>
	  <%= @user.username %>'s page
	</h1>
</div>


<% if current_user==@user %>  

  
     <h2>Write a new post:</h2>
  <%= form_for([@user, @user.posts.build]) do |f| %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_area :user_id %>
  </p>
  <p>
    <input class = "btn btn-large btn-primary" name="commit" type="submit" value="Crete Post" />

  </p>
  
  <% end %> 
  

  
<% end %>
    
<<<<<<< HEAD
<h2>Previous posts</h2>
 
  <% @user.posts.each do |post| %>
    <p>
      <strong>========</strong>
      </br>
      <%= post.content %>
    </p>
<% end %>
 
=======

 <%= paginate @posts %>
 <h2>Previous posts</h2>
    <% @posts.each do |post| %>
      <p>
       <strong>========</strong>

       </br>
       <%= post.content %>
      </p>
    <% end %>
>>>>>>> heroku
