<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
 <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">Blaaaahhggggg</a>
    </div>

    <div class="navbar-collapse collapse">

	    <ul class="nav navbar-nav navbar-right">
		    <li><%= link_to "Users", users_index_path %></li>
	        <% if current_user %>  
		      <li><%= link_to "Edit", edit_user_path(current_user) %></li>
			  
  	          <li><%= link_to "Sign Out", sign_out_path, method: "delete" %></li>
 	        <% else %>		      
              <li><%= link_to 'Sign In', sign_in_path =%></li>
				
		      <li><%= link_to 'Sign Up', sign_up_path %></li>
	        <% end %>
            
        </ul>
	  
    </div>
  </div>


	<%= yield %>
</div>
</body>
</html>
